body {
  font-family: 'Arial', sans-serif;
  display: grid;
  place-items: center;
  height: 90vh;
  margin: 0;
  background: linear-gradient(135deg, #E2C3C9,#C995A2,#5A7FA2,#31405F,#BFC6CC);
  background-size: 400% 400%;
  animation: backgroundFlow 12s ease infinite;
  overflow: hidden;
  position: relative;
  color: #eaeaea;
}

@keyframes backgroundFlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.calendar {
  background: rgba(50, 50, 50, 0.9);
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  width: 350px;
  padding: 25px;
  position: relative;
  z-index: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.calendar:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.7);
}

.calendar:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, #3b3838, #191616);
  background-size: 200% 200%;
  animation: borderGlow 8s linear infinite;
  border-radius: 20px;
  filter: blur(6px);
  z-index: -1;
}

@keyframes borderGlow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

#month-year {
  font-weight: bold;
  font-size: 1.2em;
}

.btn {
  background: none;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #666666;
}

.Weekdays, .days {
  display: flex;
  flex-wrap: wrap;
}

.Weekdays div, .days div {
  width: 14.28%;
  text-align: center;
  padding: 10px 0;
  border-radius: 8px;
  margin: 3px 0;
  font-size: 0.9em;
}

.Weekdays div {
  font-weight: bold;
  color: #ccc;
}

.days {
  height: 260px;
}

.days div {
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s ease, box-shadow 0.3s ease;
}

.days div:hover {
  background-color: rgb(239, 233, 233);
  color: rgb(13, 10, 10);
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.days .today {
  background-color: #fdf7f7;
  color: rgb(20, 14, 14);
  font-weight: bold;
}

.days .fade {
  color: #818181;
}

h1 {
  color: black;
}
